.dub
docs.json
__dummy.html
docs/
/zpatchloader
zpatchloader.so
zpatchloader.dylib
zpatchloader.dll
zpatchloader.a
zpatchloader.lib
zpatchloader.pdb
zpatchloader.exe
zpatchloader-test
zpatchloader-test.exe
zpatchloader-test.pdb
*.exe
*.o
*.obj
*.lst
dub.selections.json
zpatchloader.example.conf
servers.conf
downloaded/
patchinfo/
temp/
